<div class="container text-center">
    <h1 class="display-2 mt-3">Administración del Concesionario</h1>
    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-danger btn-lg" data-toggle="modal" data-target=".modal-autos-xl" [routerLink]="['/autos-consultas']"><i class="fa fa-search"></i> Consultas de Autos</button>
        </div>
        
        <div class="col">
            <button class="btn btn-danger btn-lg"><i class="fa fa-search"></i> Consultas de Sucursales</button>
        </div>
    
        
        <div class="col">
            <button class="btn btn-danger btn-lg"><i class="fa fa-search"></i> Consultas de Empleados</button>
        </div>
    </div>
</div>